@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared styles */

.orange {
    color: #FEA301;
}
.skyblue {
    color: #01ACFD;
}
.paste {
    color: #05D4DF;
}
.purple {
    color: #5D58EF;
}
/* nav sections */
    .logo {
        display: flex;
        gap
    }